.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    color: #333;
    height: 60px;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a {
    color: #333;
    margin-right: 15px;
}

.header a:hover {
    color: #000;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.logo {
    /* color: red; */
    font-size: 20px;
    /* text-transform: uppercase; */
}

/* .logo a {
    color: red;
} */
.dropdown_menu {
    position: relative !important
}


@media (min-width: 992px) {
    .dropdown_menu .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }

    .dropdown_menu .dropdown_menu {
        margin-left: 0;
        margin-right: 0;
        position: relative !important
    }

    .dropdown_menu li {
        position: relative !important;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
        position: absolute;
        top: -7px;
    }

    .dropdown_menu>li:hover {
        background-color: #f1f1f1
    }

    .dropdown_menu>li:hover>.submenu {
        display: block;
    }

    .dropdown_menu>li:hover>.submenu-left {
        right: 100%;
        left: auto;
        display: block;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .header ul {
        margin: 20px 0;
        flex-direction: column;
        text-align: center;
    }

    .header a {
        margin-right: 0;
    }

    .logo {
        margin: 20px 0;
    }
}